{
 :migrators {:sql-migrators "resources/migrators/sql"}

 :databases {:sql-dev {:type :sql :url "jdbc:postgresql://localhost/deps_dev?user=deps_dev"}
             :sql-test {:type :sql :url "jdbc:postgresql://localhost/deps_tes?user=deps_test"}
             :sql-prod {:type :sql
                        :url #env PSQL_URL}}

 :environments {:dev [{:db :sql-dev :migrator :sql-migrators}]
                :test [{:db :sql-test :migrator :sql-migrators}]
                :prod [{:db :sql-prod :migrator :sql-migrations}]}
}
